<a href="https://colab.research.google.com/github/douglassesi/MachineLearning/blob/main/Regras%20de%20Associa%C3%A7%C3%A3o/PapaFresca_Apriori.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Regras de Associação - PapaFresca

Utilizando o arquivo papafrescaSimNao.csv que é um recorte de teste deste projeto, queremos descobrir as regras de associação relacionadas ao consumo de batata. A relação de regras relacionadas ao questionamento da batata engordar ou não.

##Importar Bibliotecas

In [1]:
import os
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

##Download do repositório

In [2]:
!git clone https://github.com/douglassesi/MachineLearning

fatal: destination path 'MachineLearning' already exists and is not an empty directory.

##Carregar o arquivo PapaFresca

In [3]:
os.chdir("/content/MachineLearning/Regras de Associação/src")

papa = pd.read_csv("papafrescaSimNao.csv",
                   sep=";")
papa.head()

    TV RADIO PRENSA INTERNET  ... ARROZ ENSALADA NADAONINGUNO OTROS
0  Nao   Nao    Nao      Nao  ...   Sim      Nao          Nao   Nao
1  Nao   Nao    Nao      Nao  ...   Sim      Nao          Nao   Sim
2  Nao   Nao    Nao      Nao  ...   Nao      Nao          Sim   Nao
3  Nao   Nao    Nao      Nao  ...   Sim      Nao          Nao   Sim
4  Nao   Nao    Nao      Nao  ...   Sim      Nao          Nao   Nao

[5 rows x 23 columns]

##Tratamento dos dados

###Verificação de valores únicos no DataFrame

In [4]:
pd.unique(papa.values.ravel())

array(['Nao', 'Sim'], dtype=object)

###Substituindo os valores "Sim" e "Nao" por True e False

In [5]:
papa.replace({'Nao': False, 'Sim': True}, inplace=True)

###Shape do Dataset

In [6]:
papa.shape

(20869, 23)

###Tipos de dados contidos no DataFrame

In [7]:
papa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20869 entries, 0 to 20868
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TV                 20869 non-null  bool
 1   RADIO              20869 non-null  bool
 2   PRENSA             20869 non-null  bool
 3   INTERNET           20869 non-null  bool
 4   Lapapaessaludable  20869 non-null  bool
 5   Lapapadaenergia    20869 non-null  bool
 6   Lapapaengorda      20869 non-null  bool
 7   Lapapaeseconomica  20869 non-null  bool
 8   Vapor              20869 non-null  bool
 9   Sopa               20869 non-null  bool
 10  Pure               20869 non-null  bool
 11  Fritas             20869 non-null  bool
 12  Sudada             20869 non-null  bool
 13  Salada             20869 non-null  bool
 14  OtrasFormas        20869 non-null  bool
 15  SOPAS              20869 non-null  bool
 16  GRANOS             20869 non-null  bool
 17  CARNE              20869 non-null  bool
 18  HUEVOS             20869 non-null  bool
 19  ARROZ              20869 non-null  bool
 20  ENSALADA           20869 non-null  bool
 21  NADAONINGUNO       20869 non-null  bool
 22  OTROS              20869 non-null  bool
dtypes: bool(23)
memory usage: 468.9 KB

###Validação de valores nulos

In [8]:
papa.isnull().sum()

TV                   0
RADIO                0
PRENSA               0
INTERNET             0
Lapapaessaludable    0
Lapapadaenergia      0
Lapapaengorda        0
Lapapaeseconomica    0
Vapor                0
Sopa                 0
Pure                 0
Fritas               0
Sudada               0
Salada               0
OtrasFormas          0
SOPAS                0
GRANOS               0
CARNE                0
HUEVOS               0
ARROZ                0
ENSALADA             0
NADAONINGUNO         0
OTROS                0
dtype: int64

###Verificação da distribuição das variáveis do DataFrame

In [9]:
papa.describe()

           TV  RADIO PRENSA INTERNET  ...  ARROZ ENSALADA NADAONINGUNO  OTROS
count   20869  20869  20869    20869  ...  20869    20869        20869  20869
unique      2      2      2        2  ...      2        2            2      2
top     False  False  False    False  ...   True    False        False  False
freq    12786  20526  20794    20373  ...  12722    15752        20458  16243

[4 rows x 23 columns]

##Aplicação de Regras de Associação: Apriori

In [10]:
itens_freq = apriori(papa,
                     min_support=0.05,
                     use_colnames=True)

itens_freq.sort_values(by='support', ascending=False)

      support                              itemsets
4    0.731803                   (Lapapaeseconomica)
16   0.609612                               (ARROZ)
14   0.555225                               (CARNE)
58   0.440174            (ARROZ, Lapapaeseconomica)
3    0.428578                       (Lapapaengorda)
..        ...                                   ...
165  0.050889   (TV, CARNE, ARROZ, Lapapadaenergia)
94   0.050601       (TV, Fritas, Lapapaeseconomica)
82   0.050553       (TV, Fritas, Lapapaessaludable)
114  0.050266  (Lapapaessaludable, CARNE, ENSALADA)
69   0.050122                       (Fritas, OTROS)

[194 rows x 2 columns]

In [11]:
regras_assoc = association_rules(itens_freq, 
                                 metric='confidence',
                                 min_threshold=0.1)

In [12]:
cols = ['antecedents', 'consequents', 'support', 'confidence']
assoc = regras_assoc[cols].sort_values(by='confidence', ascending=False)
assoc.head(10)

                                     antecedents  ... confidence
704              (ARROZ, CARNE, Lapapadaenergia)  ...   0.994382
692  (ARROZ, Lapapaeseconomica, Lapapadaenergia)  ...   0.992133
169                     (ARROZ, Lapapadaenergia)  ...   0.991968
163                     (CARNE, Lapapadaenergia)  ...   0.987535
680  (CARNE, Lapapaeseconomica, Lapapadaenergia)  ...   0.984671
3                              (Lapapadaenergia)  ...   0.970201
555    (Lapapaessaludable, CARNE, Lapapaengorda)  ...   0.969466
115           (Lapapaessaludable, Lapapaengorda)  ...   0.968261
569    (Lapapaessaludable, ARROZ, Lapapaengorda)  ...   0.966114
157         (Lapapaeseconomica, Lapapadaenergia)  ...   0.965846

[10 rows x 4 columns]

In [13]:
print('Total de associaçoes com confiança >= 10% = {}'.format(assoc.shape[0]))
print('Total de associaçoes com confiança >= 50% = {}'.format(assoc[assoc.confidence >= 0.5].shape[0]))

Total de associaçoes com confiança >= 10% = 1124
Total de associaçoes com confiança >= 50% = 323

In [14]:
assoc_50 = assoc[assoc.confidence >= 0.5]
print("""Associações com confiança maior que 50% que tem como consequente
 a ideia de que a batata engorda: {}""".format(assoc_50[assoc_50.consequents.apply(lambda x : 'Lapapaengorda' in x)].shape[0]))

Associações com confiança maior que 50% que tem como consequente
 a ideia de que a batata engorda: 0

In [15]:
lapapaengorda = assoc[assoc.consequents.apply(lambda x : 'Lapapaengorda' in x)]

In [16]:
print("Associações com a conclusao de que a batata engorda, com confiança >= 10% : {}\n".format(lapapaengorda.shape[0]))
print("Estatisticas da confiança do consquente 'Lapapaengorda': {}".format(lapapaengorda.describe()['confidence']))

Associações com a conclusao de que a batata engorda, com confiança >= 10% : 169

Estatisticas da confiança do consquente 'Lapapaengorda': count    169.000000
mean       0.278948
std        0.112259
min        0.100849
25%        0.174384
50%        0.278857
75%        0.386143
max        0.480342
Name: confidence, dtype: float64

In [17]:
lapapaengorda.head(15)

                                  antecedents  ... confidence
389                          (ENSALADA, Sopa)  ...   0.480342
935                  (ARROZ, CARNE, ENSALADA)  ...   0.479271
411                         (CARNE, ENSALADA)  ...   0.476085
415                         (ARROZ, ENSALADA)  ...   0.457350
922                      (ARROZ, CARNE, Sopa)  ...   0.454860
899      (CARNE, ENSALADA, Lapapaeseconomica)  ...   0.451866
57                                 (ENSALADA)  ...   0.451436
1071  (ARROZ, CARNE, Lapapaeseconomica, Sopa)  ...   0.445738
47                                     (Sopa)  ...   0.445423
377                             (CARNE, Sopa)  ...   0.442668
403                            (ARROZ, CARNE)  ...   0.442458
398                           (ARROZ, Sudada)  ...   0.439786
54                                    (ARROZ)  ...   0.437510
382                             (ARROZ, Sopa)  ...   0.436432
343                 (Lapapaeseconomica, Sopa)  ...   0.435167

[15 rows x 4 columns]

## **Conclusão**
Curiosamente, os itens mais comumente associados à percepção de que a batata engorda são outros itens alimentícios, como arroz, sopa ou até mesmo salada.

Levando também em consideração o suporte dessa percepção, podemos notar que arroz (sup. 26%), sopa (sup 17.9%) e carne + arroz (17.6%) são os items mais frequentemente associados com essa percepção.

O fato da confiança ser inferior a 50% mas maior que 40% para os casos acima deve ser considerado e levado em conta caso a presente análise venha a ser utilizada numa tomada de decisão. 

Valeria a pena testar numa rede varejista afastar as batatas e produtos derivados de batata do arroz, da sopa e das saladas.